{% load static
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django 1 - Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <h1>Index</h1>
    <img src="{% static 'images/django-pony.png' %}" alt="Logo Django">
    <h2>{{ curso }}</h2>
    <p>{{ outro }}</p>

<!--        <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Produto</th>-->
<!--                <th>Preço</th>-->

<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
            {% for produto in produtos %}
<!--                <tr>-->
                    <a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a> </td>
                    <p>{{ produto.preco }}</p>

<!--                </tr>-->

            {% endfor%}
<!--        </tbody>-->
<!--    </table>-->


    <button onclick="teste();">Clique-me</button>

    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>
</html>